<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Statistics</title>
    <link rel="stylesheet" th:href="@{/css/page.css}"/>
</head>
<body>
<div class="menu-container">
    <div class="menu">
        <h1>Statistics</h1>
        <a class="button-container" href="/statistics/1.1"><input type="button" value="1.1. Suppliers by category and good"></a>
        <a class="button-container" href="/statistics/1.2"><input type="button" value="1.2. Suppliers by category, good and sells amount in period"></a>
        <a class="button-container" href="/statistics/2"><input type="button" value="2. Good Info"></a>
        <a class="button-container" href="/statistics/3.1"><input type="button" value="3.1. Good sales by amount"></a>
        <a class="button-container" href="/statistics/3.2"><input type="button" value="3.2. Good sales in period"></a>
        <a class="button-container" href="/statistics/4"><input type="button" value="4. Storage info"></a>
        <a class="button-container" href="/statistics/5.1"><input type="button" value="5.1. Ten best sold goods"></a>
        <a class="button-container" href="/statistics/5.2"><input type="button" value="5.2. Ten cheapest suppliers by good"></a>
        <a class="button-container" href="/statistics/6"><input type="button" value="6. Good average sales by months"></a>
        <a class="button-container" href="/statistics/7"><input type="button" value="7. Suppliers part"></a>
        <a class="button-container" href="/statistics/8"><input type="button" value="8. Overheads part"></a>
        <a class="button-container" href="/statistics/9"><input type="button" value="9. Unsold goods"></a>
        <a class="button-container" href="/statistics/10"><input type="button" value="10. Defected SKUs"></a>
        <a class="button-container" href="/statistics/11"><input type="button" value="11. Sells in day"></a>
        <a class="button-container" href="/statistics/12.1"><input type="button" value="12.1. Cash report in day"></a>
        <a class="button-container" href="/statistics/12.2"><input type="button" value="12.2. Cash report in period"></a>
        <a class="button-container" href="/statistics/13"><input type="button" value="13. Inventory report"></a>
        <a class="button-container" href="/statistics/14"><input type="button" value="14. Velocity of good"></a>
        <a class="button-container" href="/statistics/15"><input type="button" value="15. Storage free space"></a>
        <a class="button-container" href="/statistics/16"><input type="button" value="16. Customers bookings"></a>
        <a class="button-container" href="/"><input type="button" value="Back"></a>
    </div>
</div>
</body>
</html>