<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update supplier</title>
    <link rel="stylesheet" th:href="@{/css/form.css}"/>
</head>
<body>
<div class="form-container">
    <form action="#" th:action="@{/suppliers/update_supplier}" th:object="${supplier}" method="post">
        <legend>Update supplier</legend>

        <div class="input-container">
            <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
            <label for="id">ID</label>
        </div>

        <div class="input-container">
            <input type="text" th:field="*{name}" id="name">
            <label for="name">Supplier name</label>
        </div>

        <div class="input-container">
            <select th:field="*{supplierCategory}" id="supplierCategory">
                <option th:each="category : ${supplierCategories}" th:value="${category.id}"
                        th:text="${category.name}"></option>
            </select>
            <label for="supplierCategory">Category</label>
        </div>

        <div class="input-container">
            <select th:field="*{supplierStatus}" id="supplierStatus">
                <option th:each="status : ${supplierStatuses}" th:value="${status.id}"
                        th:text="${status.name}"></option>
            </select>
            <label for="supplierStatus">Status</label>
        </div>

        <div class="button-holder">
            <a href="/suppliers/suppliers_list"><input type="button" value="Back"></a>
            <input type="reset" id="reset" value="Reset">
            <input type="submit" id="submit" value="Submit">
        </div>
    </form>
</div>
<script th:src="@{/js/form.js}"></script>
</body>
</html>