<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update store order</title>
    <link rel="stylesheet" th:href="@{/css/form.css}"/>
</head>
<body>
<div class="form-container">
    <form action="#" th:action="@{/store_orders/update_store_order}" th:object="${storeOrder}" method="post">
        <legend>Update store order</legend>

        <div class="input-container">
            <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
            <label for="id">ID</label>
        </div>

        <div class="input-container">
            <select th:field="*{storeOrderStatus}" id="storeOrderStatus">
                <option th:each="status : ${storeOrderStatuses}" th:value="${status.id}"
                        th:text="${status.name}"></option>
            </select>
            <label for="storeOrderStatus">Status</label>
        </div>

        <div class="button-holder">
            <a href="/store_orders/store_orders_list"><input type="button" value="Back"></a>
            <input type="reset" id="reset" value="Reset">
            <input type="submit" id="submit" value="Submit">
        </div>
    </form>
</div>
<script th:src="@{/js/form.js}"></script>
</body>
</html>