<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update patient</title>
    <link rel="stylesheet" th:href="@{/css/page.css}"/>
</head>
<body>
<div class="menu-container">
    <div class="menu">
        <h1>Home</h1>
        <a class="button-container" href="/catalogue/catalogue_menu"><input type="button" value="Catalogue"></a>
        <a class="button-container" href="/storage/storage_menu"><input type="button" value="Storage"></a>
        <a class="button-container" href="/store_orders/store_orders_menu"><input type="button" value="Store orders"></a>
        <a class="button-container" href="/customers_orders/customers_orders_menu"><input type="button" value="Customer's orders"></a>
    </div>
</div>
</body>
</html>