<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update patient</title>
    <link rel="stylesheet" th:href="@{/css/page.css}"/>
</head>
<body>
<div class="menu-container">
    <div class="menu">
        <h1>Catalogue menu</h1>
        <a class="button-container" href="/catalogue/list"><input type="button" value="List"></a>
        <a class="button-container" href="/catalogue/goods_list"><input type="button" value="Goods"></a>
        <a class="button-container" href="/catalogue/partners_list"><input type="button" value="Partners"></a>

    </div>
</div>
</body>
</html>