<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update patient</title>
    <link rel="stylesheet" th:href="@{/css/page.css}"/>
</head>
<body>
<div class="menu-container">
    <div class="menu">
        <h1>Catalogue</h1>
        <a class="button-container" href="/catalogue/catalogue_list"><input type="button" value="List"></a>
        <a class="button-container" href="/goods/goods_list"><input type="button" value="Goods"></a>
        <a class="button-container" href="/suppliers/suppliers_list"><input type="button" value="Suppliers"></a>
        <a class="button-container" href="/"><input type="button" value="Back"></a>
    </div>
</div>
</body>
</html>